<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div align="center">
    <a href="/search" class="badge badge-danger"><h3 class="font-weight-bold">Search for a Customer</h3></a><br/>
    <a href="/addcustomer" class="badge badge-primary"><h3 class="font-weight-bold">Add a customer</h3></a>
    <a href="/addcompany" class="badge badge-warning"><h3 class="font-weight-bold">Add a company</h3></a>
</div>
<div align="center">
    <a href="/showcustomerlist" class="badge badge-success"><h3 class="font-weight-bold">Show Current Customer List</h3></a>
    <a href="/showcompanylist" class="badge badge-info"><h3 class="font-weight-bold">Show Current Company List</h3></a>
    <a href="/top10companies" class="badge badge-secondary"><h3 class="font-weight-bold">Show Top 10 company List</h3></a>
</div>

</body>
</html>